<?xml version="1.0" encoding="utf-8" ?>

<beas>
    <bean id="userDao" class="cn.onenine.springframework.test.dao.UserDao" />

    <bean id="userService" class="cn.onenine.springframework.test.bean.UserService" >
        <property name="uId" value="10002" />
        <property name="userDao" ref="userDao" />
    </bean>
</beas>