<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="cn.onenine.springframework.test.bean.Husband" id="husband" >
        <property name="wifeName" value="chh" />
        <property name="marriageDate" value="2022-08-08" />
    </bean>

    <bean id="conversionService" class="cn.onenine.springframework.context.support.ConversionServiceFactoryBean" >
        <property name="converters" ref="converts"/>
    </bean>

    <bean class="cn.onenine.springframework.test.bean.ConvertFactoryBean" id="converts"/>

</beans>
